html {
  background-color: #eee9de;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

figure {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;
}

h2 {
  display: inline-block;
  font-family: Lato, sans-serif;
  text-align: left;
  margin-left: .75em;
  font-weight: bold;
  margin-bottom: 1em;
}

body {
  color: #333;
  margin: 0;
}

section {
  max-width: 25em;
}

p {
  display: inline-block;
  font-family: Lato, sans-serif;
  vertical-align: middle;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.5;
  margin-top: 0;
}

.btn {
  border-radius: 5px;
  border-color: #666;
  background-color: #eee9de;
  text-align: center;
  margin: 1.5em;
  padding: .75em;
  font-size: 1rem;
}
