html {
  background-color: #eee9de;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
}

h2 {
  display: block;
  font-family: Lato, sans-serif;
}

body {
  color: #333;
  padding: .4em .75em .5em;
  margin: 1.5rem;
  text-align: center;
}

p {
  display: inline-block;
  font-family: Lato, sans-serif;
  vertical-align: middle;
}
