html {
  background-color: #eee9de;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  padding: 1em;
  margin: 1.5rem;
}

h2 {
  display: block;
  font-family: Lato, sans-serif;
  text-align: left;
  color: #333;
}

p {
  display: inline-block;
  font-family: Lato, sans-serif;
  vertical-align: middle;
}
